
<div class="row mt-5">
  <div class="col">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators" >

            <li data-target="#carouselExampleIndicators"
            [ngClass]="{'active': i=== 0}"
            *ngFor="let item of foto; let i=index" data-slide-to="{'i'}">
            </li>
            <!-- <li data-target="#carouselExampleIndicators" data-slide-to="{'i'}"></li> -->

          </ol>
          <div class="carousel-inner">
            <!-- <div class="carousel-item active" >
              <img [src]="foto[0].url" class="d-block w-100" alt="...">
            </div> -->
            <div class="carousel-item"
            [ngClass]="{'active': i === 0}"
            *ngFor="let item of foto; let i=index">
              <img [src]="item.url" class="d-block w-100" alt="item.nombre">
            </div>

          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
  </div>
</div>
